body{
    background-color: black;
}
div.card{
    background-color: #fff;
    width: 300px;
    height: 300px;
    margin-bottom: auto;
    padding: 0.5em;

}
p.card_title{
    color: #282828;
    font-size: 14px;
}
p.card__description{
    color: #282828;
    font-size: 12px;
    line-height: 0%;
}
img{
    width: 288px;
    height: 182px;
}
